/*
    ROOT
*/
:root{
    --height-header:60px;
}

/*
    GENERAL
*/


html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.wrapper{
    display:flex;
    height:calc(100vh - var(--height-header));
}

/*
    HEADER
*/
header{
    height: var(--height-header)
}
.container-logo-mobile{
    width:50px;
}
.container-logo-mobile>img{
    width:100%;
}


/*
    Aside
*/
aside{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
aside a{
    color:white;
    text-decoration: none;
}

aside li:hover,
aside>*:last-child:hover{
    background-color: white;
    opacity: 0.1;
}

/*
    MAIN
*/
main{
    overflow-y: auto;
}

main .header{
    background-color: #418df8;
}

.container-avatar{
    width: 30px;
}
.container-avatar>*{
    width: 100%;
}

th{
    font-weight: 400;
}
.nome-classe{
    width:60%;
}


/*
    MEDIA QUERY
*/
/*desktop*/
@media screen and (max-width:992px){

}
/*tablet*/
@media screen and (max-width:768px){
 
}
/*smartphone*/
@media screen and (max-width:576px){
    
}
