/*
    RESET
*/


/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    display:flex;
    height:calc(100vh - 60px );
}
/*
    HEADER
*/
header{
    height: 60px;
}

/*
    Aside
*/
aside{
    width: 200px;
}

/*
    MAIN
*/
main{
    width:calc(100% - 200px);
    height:100%;
    overflow: auto;
}
main .header{
    min-height:80px;
}


/*
    MEDIA QUERY
*/
/*desktop*/
@media screen and (max-width:992px){

}
/*tablet*/
@media screen and (max-width:768px){
    aside{
        width:50px;
    }
    main{
        width:calc(100% - 50px);
    }
}
/*smartphone*/
@media screen and (max-width:576px){
    
}