/*
    ROOT
*/
:root{
    --height-header:60px;
}

/*
    GENERAL
*/


html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.wrapper{
    display:flex;
    height:calc(100vh - var(--height-header));
}

/*
    HEADER
*/
header{
    height: var(--height-header)
}

/*
    Aside
*/

/*
    MAIN
*/
main{
    overflow-y: auto;
}
main .header{
    min-height:80px;
}

.container-avatar{
    width: 25px;
}
.container-avatar>*{
    width: 100%;
}

th{
    font-weight: 400;
}
.nome-classe{
    width:60%;
}

/*
    MEDIA QUERY
*/
/*desktop*/
@media screen and (max-width:992px){

}
/*tablet*/
@media screen and (max-width:768px){

}
/*smartphone*/
@media screen and (max-width:576px){
    
}
